In [1]:
# Imports
%matplotlib inline
import pandas
import matplotlib

In [2]:
# Parameters
input_dir = "/home/konstantin/git/IsBank/data"
input_features = "features.csv"

In [3]:
# Load Data
features = pandas.read_csv("/".join([input_dir, input_features]), sep=";")
# cj_features = pandas.read_csv("", sep="")
# target = pandas.read_csv("")
features.columns = ['id','account','credit_score','loans','card','limit','active_limit']

In [50]:
def histogram(x):
    hist = x.value_counts().rename("cnt")
    hist_n = round(100 * x.value_counts(normalize=True), 5).astype(str).rename("pct")
    df = pandas.concat([hist, hist_n+"%"], axis=1)[0:10]
    df['value'] = df.index
    df = df.reset_index()
    return(df[['value','cnt','pct']])

### Distribution of number of loans

In [51]:
histogram(features.loans)

   value     cnt      pct
0      0  973240  97.324%
1      1   26172  2.6172%
2      2     533  0.0533%
3      3      36  0.0036%
4      5       7  0.0007%
5      4       6  0.0006%
6      7       2  0.0002%
7      6       2  0.0002%
8     14       1  0.0001%
9     10       1  0.0001%

Loan data is quite sparse. Most of customer base (99.5%) has 0-1 loans. Thus we will treat this attribute as categorical.

### Distribution of "Has Savings Account"

In [52]:
histogram(features.account)

  value     cnt       pct
0    no  907416  90.7416%
1    ok   92584   9.2584%

### Distribtion of "Has Credit Card"

In [53]:
histogram(features.card)

    value     cnt       pct
0      ok  619492  61.9492%
1      no  299856  29.9856%
2  return   80652   8.0652%